<!doctype html>
<html lang="ru">
<head>
<meta charset="utf-8">
<title>HyperChat</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

<nav>
<a href="/profile">Профиль</a>
<a href="/friends">Друзья</a>
<a href="/logout">Выйти</a>
</nav>

<h2>Чат с {{ friend_name }}</h2>

<div class="chat-box">

{% for msg in messages %}

<div class="{% if msg[0] == my_code %}my-msg{% else %}friend-msg{% endif %}">

<b>{{ msg[0] }}</b><br>

{{ msg[2] }}

</div>

{% endfor %}

</div>

<form method="post"
action="/send_message/{{ friend_code }}">

<input
name="message"
placeholder="Введите сообщение..."
required>

<button type="submit">
Отправить
</button>

</form>

</div>

</body>
</html>