{% extends "base.html" %}
{% block title %}HyperChat — Профиль{% endblock %}

{% block content %}
<h2>Мой профиль</h2>

<div class="profile-card">
    <div class="profile-avatar">{{ user[0][0] }}</div>
    <h2>{{ user[0] }}</h2>
    <p class="profile-code">{{ user[1] }}</p>

    <form method="post">
        <div class="profile-bio">
            <h3>О себе</h3>
            <textarea name="bio" rows="6" placeholder="Расскажи о себе">{{ user[2] }}</textarea>
        </div>
        <button type="submit">Сохранить</button>
    </form>
</div>
{% endblock %}