{% extends "base.html" %}
{% block title %}HyperChat — Регистрация{% endblock %}

{% block content %}
<h2>HyperChat регистрация</h2>

{% if error %}
  <div class="error">{{ error }}</div>
{% endif %}

<form method="post">
  <input name="nickname" placeholder="Никнейм" required autofocus>
  <input name="password" type="password" placeholder="Пароль" required>
  <button type="submit">Создать аккаунт</button>
</form>

<p style="text-align:center;">
  Уже есть аккаунт? <a href="/login">Вход</a>
</p>
{% endblock %}